body {
    background-color: #F0EBE3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #7D9D9C;
    border-radius: 10px;
    padding: 20px;
    width: 45%;
    text-align: center;
    display: grid;
    gap: 10px;
    justify-items: center;
    align-items: center;
}

h2 {
    color: #F0EBE3;
}

label {
    color: #F0EBE3;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #F0EBE3;
    color: #7D9D9C;
    border: none;
    margin-top: 2%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
