/* Estilos para el body */
body {
	background-color: #F0EBE3;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: 'Arial', sans-serif;
}


h2 {
    background-color: #7D9D9C;
    color: #F0EBE3;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-top: 0;
    text-decoration: underline; 
}



/* Estilos para la tabla */
table {
	background-color: #E4DCCF;
	border-collapse: separate;
	border-spacing: 10px;
	width: 90%;
	margin: 20px auto;
	border-radius: 10px;
	border: 2px solid #7D9D9C;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para las celdas de la tabla */
th, td {
	padding: 10px;
	text-align: left;
	border-radius: 0;
}

th {
	background-color: #7D9D9C;
	color: #F0EBE3;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
}

tr:nth-child(even) {
	background-color: #576F72;
	color: #F0EBE3;
}

tr:nth-child(odd) {
	background-color: #F0EBE3;
	color: #576F72;
}

/* Estilos para el botón de volver atrás */
.return-button {
	margin-top: 20px;
}

/* Estilos para el botón de borrar */
.delete-button {
	background-color: #F0EBE3;
	color: #7D9D9C;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.delete-button:hover {
	background-color: #7D9D9C;
	color: #F0EBE3;
}

.return-button {
	margin-top: 20px;
    
	a {
    	background-color: #F0EBE3;
    	color: #000000;
    	text-decoration: none;
    	padding: 10px 20px;
    	border-radius: 5px;
    	cursor: pointer;
    	transition: background-color 0.3s ease;

    	&:hover {
        	background-color: #7D9D9C;
    	}
	}
}

a{

	color: #000000;
}